.container {
  width: 100px;
  font-size: 0.8rem;
  margin: 0px 10px;
}

.card {
  background-color: #dfdfdf;
  height: 150px;
  width: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 55px;
  justify-content: space-evenly;
  align-items: center;
}

.card > img {
  width: 50px;
  border-radius: 10px;
}

.name {
  text-align: center;
  margin-top: 10px;
}

.cards {
  display: flex;
  overflow-x: scroll;
}

.cards::-webkit-scrollbar {
  display: none;
}
