.container {
  width: 100px;
  font-size: 0.8rem;
  margin: 0px 10px;
}

.card {
  background: linear-gradient(to bottom, #f5e3e6, #d9e4f5);
  height: 150px;
  width: 100px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  border-radius: 55px;
  justify-content: space-evenly;
  align-items: center;
}

.card > img {
  width: 50px;
  border-radius: 10px;
}

.name {
  text-align: center;
  margin-top: 10px;
  color: #414141;
  font-weight: bolder;
}

.cards {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 20px;
}

.cards::-webkit-scrollbar {
  height: 8px;
}

.cards::-webkit-scrollbar-track {
  background-color: #dfdfdf;
  border-radius: 20px;
}

.cards::-webkit-scrollbar-thumb {
  background: #a9a9a9;
  border-radius: 20px;
}

@media (prefers-color-scheme: dark) {
  .container {
    color-scheme: dark;
  }
  .card {
    color: white;
    background: #2e2d2d;
  }
  .name {
    color: #e3dddd;
  }
}
