.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.pic_container {
  position: relative;
  background: linear-gradient(#f0f8ff 10%, #acc0fe);
  width: 300px;
  height: 420px;
  border-radius: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border,
.small_border {
  border: 1px solid #dfdfdf;
  width: 320px;
  border-radius: 160px;
  height: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small_border {
  align-self: center;
  display: none;
}

.pic {
  width: 460px;
  height: 500px;
}

.experiences {
  width: 26%;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .border {
    display: none;
  }
  .small_border {
    display: flex;
  }
  .details {
    align-items: flex-start;
  }
  .experiences {
    width: 38%;
  }
}

@media only screen and (min-width: 900px) {
  .small_border {
    display: none;
  }
}
