.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 35px 10px 30px;
}

.nav_links {
  display: flex;
  flex-direction: row;
}

.nav_links > p {
  font-size: 12px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  padding: 0px 10px;
}

.nav_links > p:hover,
.icon:hover {
  color: #33a9ff;
}

.icon_container {
  display: flex;
  flex-direction: row;
}

.icon {
  padding: 0px 8px;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
