.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 35px 10px 30px;
}

.nav_links {
  display: flex;
  flex-direction: row;
}

.nav_links > button {
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 5px 10px;
}

.nav_links > button:last-child:hover {
  border: 1px solid #33a9ff;
  border-radius: 3px;
}

.nav_links > button:hover,
.icon:hover {
  color: #33a9ff;
}

.icon_container {
  display: flex;
  flex-direction: row;
}

.icon {
  padding: 0px 8px;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
