.container {
  padding: 0px 10px;
}

.right {
  text-align: end;
  align-self: center;
}

.left {
  text-align: start;
  margin-top: 15px;
}

.right_text {
  font-size: 1.6rem;
}

.left_text {
  font-size: 0.8rem;
  /* width: 100%; */
}

.container > h6 {
  text-transform: uppercase;
  color: #a9a9a9;
}

@media only screen and (max-width: 600px) {
  .left_text {
    font-size: 0.9rem;
  }
}
