.container {
  border: 2px solid black;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 1.8rem;
  height: 1.8rem;
}
