.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.content {
  min-width: 450px;
  max-width: 500px;
  background-color: #fff;
  border-radius: 12px;
  margin: 50px auto;
}
