.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.content {
  min-width: 450px;
  max-width: 500px;
  background-color: #fff;
  border-radius: 12px;
  margin: 50px auto;
  box-shadow: 5px 2px 50px 8px rgba(255, 255, 255, 0.1);
  padding-bottom: 10px;
}

.close {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #414141;
  color: white;
  cursor: pointer;
}

.close > p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 5px 0px;
  font-size: 13px;
}

.close > p > span {
  font-size: 20px;
  margin-right: 3px;
}
